.muat {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url("<?php echo asset_url('images/loader.gif') ?>") 50% 50% no-repeat;
}


body.loading .muat {
    overflow: hidden;
}


body.loading .muat {
    display: block;
}